@import "~bootstrap/scss/bootstrap";

// body{
//   background-color: lightgray;
// };

.hide{
  display: none;
};

// #auth{
//   display:flex;
//   flex-direction: row;
//   justify-content: center;
// }

.heading{
  text-align: center;
}

.board-title{
  text-align: center;
}